apiVersion: apps/v1
kind: Deployment
metadata:
  name: bullboard
  namespace: medplum
  labels:
    app: bullboard
  annotations:
    doppler.com/project: "medplum"
    doppler.com/config: "dev_minikube"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bullboard
  template:
    metadata:
      labels:
        app: bullboard
    spec:
      initContainers:
        - name: wait-for-redis
          image: redis:7
          command:
            [
              "sh",
              "-c",
              "until redis-cli -h redis.medplum.svc.cluster.local -p 6379 -a redis ping; do echo waiting for redis; sleep 2; done;",
            ]
      containers:
        - name: bullboard
          image: venatum/bull-board:latest
          ports:
            - containerPort: 3000
          env:
            - name: REDIS_HOST
              value: "redis.medplum.svc.cluster.local"
            - name: REDIS_PASSWORD
              value: "redis"
            - name: REDIS_PORT
              value: "6379"
          livenessProbe:
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3

---
apiVersion: v1
kind: Service
metadata:
  name: bullboard
  namespace: medplum
spec:
  selector:
    app: bullboard
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
