apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: medplum
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:7
          ports:
            - containerPort: 6379
          env:
            - name: REDIS_PASSWORD
              value: "redis"
          command: ["redis-server", "--requirepass", "redis"]

---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: medplum
spec:
  selector:
    app: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
