apiVersion: apps/v1
kind: Deployment
metadata:
  name: medplum-server
  namespace: medplum
  labels:
    app: medplum-server
  annotations:
    doppler.com/project: "medplum"
    doppler.com/config: "dev_minikube"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: medplum-server
  template:
    metadata:
      labels:
        app: medplum-server
    spec:
      # Add init container to wait for postgres and redis
      initContainers:
        - name: wait-for-postgres
          image: postgres:12
          command:
            [
              "sh",
              "-c",
              "until pg_isready -h postgres -p 5432; do echo waiting for postgres; sleep 2; done;",
            ]
        - name: wait-for-redis
          image: redis:7
          command:
            [
              "sh",
              "-c",
              "until redis-cli -h redis.medplum.svc.cluster.local -p 6379 -a redis ping; do echo waiting for redis; sleep 2; done;",
            ]
      containers:
        - name: medplum-server
          image: 554179259394.dkr.ecr.us-east-1.amazonaws.com/medplum-server:0afa491
          ports:
            - containerPort: 8103
          env:
            # This MUST have a trailing slash - without it, Medplum API will return
            # broken URLs in Bundle link fields, like this:
            #
            #    "link": [
            #        {
            #            "relation": "self",
            #            "url": "http://127.0.0.1:8103fhir/R4/Patient?_count=20&name=Search"
            #        },
            #        {
            #            "relation": "first",
            #            "url": "http://127.0.0.1:8103fhir/R4/Patient?_count=20&_offset=0&name=Search"
            #        }
            #    ]
            #
            # This will cause any code that parses bundles to fail validation.
            - name: MEDPLUM_BASE_URL
              value: "http://127.0.0.1:8103/"
            - name: MEDPLUM_ISSUER
              value: "http://127.0.0.1:8103"
            - name: MEDPLUM_AUDIENCE
              value: "http://127.0.0.1:8103"
            - name: MEDPLUM_JWKS_URL
              value: "http://127.0.0.1:8103/.well-known/jwks.json"
            - name: MEDPLUM_AUTHORIZE_URL
              value: "http://127.0.0.1:8103/oauth2/authorize"
            - name: MEDPLUM_TOKEN_URL
              value: "http://127.0.0.1:8103/oauth2/token"
            - name: MEDPLUM_USER_INFO_URL
              value: "http://127.0.0.1:8103/oauth2/userinfo"
            - name: MEDPLUM_APP_BASE_URL
              value: "http://127.0.0.1:3000/"
            - name: MEDPLUM_STORAGE_BASE_URL
              value: "http://127.0.0.1:8103/storage/"
            - name: MEDPLUM_LOG_LEVEL
              value: "DEBUG"
            - name: MEDPLUM_BINARY_STORAGE
              value: "file:/usr/src/medplum/binary"
            - name: MEDPLUM_DATABASE_HOST
              value: "postgres"
            - name: MEDPLUM_DATABASE_PORT
              value: "5432"
            - name: MEDPLUM_DATABASE_DBNAME
              value: "medplum"
            - name: MEDPLUM_DATABASE_USERNAME
              value: "medplum"
            - name: MEDPLUM_DATABASE_PASSWORD
              value: "medplum"
            - name: MEDPLUM_REDIS_HOST
              value: "redis"
            - name: MEDPLUM_REDIS_PORT
              value: "6379"
            - name: MEDPLUM_REDIS_PASSWORD
              value: "redis"
            - name: MEDPLUM_MAX_JSON_SIZE
              value: "1mb"
            - name: MEDPLUM_ALLOWED_ORIGINS
              value: "*"
            - name: MEDPLUM_VM_CONTEXT_BOTS_ENABLED
              value: "true"
            - name: MEDPLUM_DISABLE_RATE_LIMIT
              value: "true"
            - name: MEDPLUM_SESSION_TIMEOUT_HOURS
              value: "8"
            # Doppler managed secrets
            - name: MEDPLUM_SIGNING_KEY
              value: "{{tojson .MEDPLUM_SIGNING_KEY }}"
            - name: MEDPLUM_SIGNING_KEY_PASSPHRASE
              value: "{{ .MEDPLUM_SIGNING_KEY_PASSPHRASE }}"
            - name: MEDPLUM_SUPPORT_EMAIL
              value: "{{ .MEDPLUM_SUPPORT_EMAIL }}"
            - name: MEDPLUM_RECAPTCHA_SITE_KEY
              value: "{{ .MEDPLUM_RECAPTCHA_SITE_KEY }}"
            - name: MEDPLUM_RECAPTCHA_SECRET_KEY
              value: "{{ .MEDPLUM_RECAPTCHA_SECRET_KEY }}"
          command:
            [
              "node",
              "--require",
              "./packages/server/dist/otel/instrumentation.js",
              "packages/server/dist/index.js",
              "env",
            ]
          volumeMounts:
            - name: medplum-binary-volume
              mountPath: /usr/src/medplum/binary
          livenessProbe:
            httpGet:
              path: /
              port: 8103
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 8103
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
      volumes:
        - name: medplum-binary-volume
          persistentVolumeClaim:
            claimName: medplum-binary-pvc
      imagePullSecrets:
        - name: regcred

---
apiVersion: v1
kind: Service
metadata:
  name: medplum-server
  namespace: medplum
spec:
  selector:
    app: medplum-server
  ports:
    - protocol: TCP
      port: 8103
      targetPort: 8103
