name: go-svc-template - Pull Request

on: pull_request

jobs:
  test:
    name: Run tests
    runs-on: arm-2cpu-8gbmem-75gbssd
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: '~1.22'

    - uses: actions/checkout@v2

    - name: Test
      run: make test
