name: blastbeat-api - Release

on:
  push:
    branches:
      - main

jobs:
  build:
    if: ${{ !contains(github.event.head_commit.message, 'norelease') }}
    runs-on: arm-2cpu-8gbmem-75gbssd
    steps:
      - uses: actions/checkout@main

      # These variables are not used but are available for use if you want to
      # create additional docker image tags.
      - name: Set version vars
        id: set-version-vars
        run: |
          echo "GITHUB_VERSION=${{ steps.create_tag.outputs.new_version }}" >> $GITHUB_ENV
          echo "GITHUB_TAG=${{ steps.create_tag.outputs.new_tag }}" >> $GITHUB_ENV
          echo "GITHUB_SHORT_SHA=`git rev-parse --short HEAD`" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & push docker app image
        run: make build/docker

      # This will create or bump an existing semver tag
      - name: Create tag
        uses: mathieudutour/github-tag-action@v6.1
        id: create_tag
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fetch_all_tags: true
